<style>
body {
    color: #fff;
    background-color: #1e1e1e;
}

table {
    border-collapse: collapse;
    width: 15%;
}

th, td {
    border: 1px solid #555;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #555;
    color: #fff;
}
</style>
<table border="1">
  <thead>
    <tr style="text-align: right;">
      <th>Год</th>
      <th>Средняя зарплата</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2005</td>
      <td>44238.40</td>
    </tr>
    <tr>
      <td>2006</td>
      <td>41840.43</td>
    </tr>
    <tr>
      <td>2007</td>
      <td>45513.40</td>
    </tr>
    <tr>
      <td>2008</td>
      <td>48185.85</td>
    </tr>
    <tr>
      <td>2009</td>
      <td>45629.06</td>
    </tr>
    <tr>
      <td>2010</td>
      <td>45443.97</td>
    </tr>
    <tr>
      <td>2011</td>
      <td>47829.62</td>
    </tr>
    <tr>
      <td>2012</td>
      <td>48478.14</td>
    </tr>
    <tr>
      <td>2013</td>
      <td>52229.57</td>
    </tr>
    <tr>
      <td>2014</td>
      <td>50235.94</td>
    </tr>
    <tr>
      <td>2015</td>
      <td>53670.52</td>
    </tr>
    <tr>
      <td>2016</td>
      <td>63764.21</td>
    </tr>
    <tr>
      <td>2017</td>
      <td>61857.45</td>
    </tr>
    <tr>
      <td>2018</td>
      <td>68232.46</td>
    </tr>
    <tr>
      <td>2019</td>
      <td>71681.16</td>
    </tr>
    <tr>
      <td>2020</td>
      <td>75272.96</td>
    </tr>
    <tr>
      <td>2021</td>
      <td>131090.47</td>
    </tr>
    <tr>
      <td>2022</td>
      <td>93796.37</td>
    </tr>
    <tr>
      <td>2023</td>
      <td>96487.06</td>
    </tr>
  </tbody>
</table>