{% extends 'main/layout.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="features">
    <h1 class="title-container">{{ title }}</h1>
    {% for el in trends %}
        <div class="text-container">
            <h2>{{ el.title }}</h2>
        </div>
        <div class="trends-content">
            <div class="table-container">
                {% include el.table_file_name %}
            </div>
            <div class="image-container">
                <img src="{% static el.image_path %}" alt="Динамика уровня зарплат по годам">
                <div class="caption">
                    <p>{{ el.analytics|safe }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}