{% extends 'main/layout.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="features">
    <div class="carousel">
        <img src="{% static 'main/img/programmer1.jpg' %}" alt="Description of the image">
        <img src="{% static 'main/img/programmer2.jpg' %}" alt="Description of the image">
        <img src="{% static 'main/img/programmer3.jpg' %}" alt="Description of the image">
    </div>
    <div>
        {% for el in main_content %}
            <div class="main-content">
                <h1>{{ el.title }}</h1>
                <p>{{ el.introduction }}</p>
                <h2>{{ el.responsibilities_title }}</h2>
                <p>{{ el.responsibilities_description }}</p>
                <h2>{{ el.requirements_title }}</h2>
                <p>{{ el.requirements_description }}</p>
                <h2>{{ el.development_prospects_title }}</h2>
                <p>{{ el.development_prospects_description }}</p>
            </div>
        {% endfor %}
    </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="{% static 'main/js/main.js' %}"></script>
{% endblock %}