<style>
body {
    color: #fff;
    background-color: #1e1e1e;
}

table {
    border-collapse: collapse;
    width: 15%;
}

th, td {
    border: 1px solid #555;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #555;
    color: #fff;
}
</style>
<table border="1">
  <thead>
    <tr style="text-align: right;">
      <th>Город</th>
      <th>Процент</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Москва</td>
      <td>42.61</td>
    </tr>
    <tr>
      <td>Санкт-Петербург</td>
      <td>12.66</td>
    </tr>
    <tr>
      <td>Новосибирск</td>
      <td>4.13</td>
    </tr>
    <tr>
      <td>Казань</td>
      <td>3.45</td>
    </tr>
    <tr>
      <td>Екатеринбург</td>
      <td>2.85</td>
    </tr>
    <tr>
      <td>Нижний Новгород</td>
      <td>2.03</td>
    </tr>
    <tr>
      <td>Минск</td>
      <td>2.01</td>
    </tr>
    <tr>
      <td>Алматы</td>
      <td>1.73</td>
    </tr>
    <tr>
      <td>Краснодар</td>
      <td>1.38</td>
    </tr>
    <tr>
      <td>Уфа</td>
      <td>1.32</td>
    </tr>
  </tbody>
</table>