<style>
body {
    color: #fff;
    background-color: #1e1e1e;
}

table {
    border-collapse: collapse;
    width: 15%;
}

th, td {
    border: 1px solid #555;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #555;
    color: #fff;
}
</style>
<table border="1">
  <thead>
    <tr style="text-align: right;">
      <th>Город</th>
      <th>Процент</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Москва</td>
      <td>37.52</td>
    </tr>
    <tr>
      <td>Санкт-Петербург</td>
      <td>9.91</td>
    </tr>
    <tr>
      <td>Екатеринбург</td>
      <td>2.59</td>
    </tr>
    <tr>
      <td>Алматы</td>
      <td>2.50</td>
    </tr>
    <tr>
      <td>Новосибирск</td>
      <td>2.32</td>
    </tr>
    <tr>
      <td>Минск</td>
      <td>2.15</td>
    </tr>
    <tr>
      <td>Казань</td>
      <td>2.11</td>
    </tr>
    <tr>
      <td>Нижний Новгород</td>
      <td>1.88</td>
    </tr>
    <tr>
      <td>Краснодар</td>
      <td>1.66</td>
    </tr>
    <tr>
      <td>Самара</td>
      <td>1.35</td>
    </tr>
  </tbody>
</table>