<style>
body {
    color: #fff;
    background-color: #1e1e1e;
}

table {
    border-collapse: collapse;
    width: 15%;
}

th, td {
    border: 1px solid #555;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #555;
    color: #fff;
}
</style>

<table border="1">
  <thead>
    <tr style="text-align: right;">
      <th>Город</th>
      <th>Средняя зарплата</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Германия</td>
      <td>637872.94</td>
    </tr>
    <tr>
      <td>Мурино</td>
      <td>597188.56</td>
    </tr>
    <tr>
      <td>Мальта</td>
      <td>503183.12</td>
    </tr>
    <tr>
      <td>Португалия</td>
      <td>498468.33</td>
    </tr>
    <tr>
      <td>Катар</td>
      <td>486114.20</td>
    </tr>
    <tr>
      <td>США</td>
      <td>427801.45</td>
    </tr>
    <tr>
      <td>Кипр</td>
      <td>350818.44</td>
    </tr>
    <tr>
      <td>Алжир</td>
      <td>338100.31</td>
    </tr>
    <tr>
      <td>Черногория</td>
      <td>325464.11</td>
    </tr>
    <tr>
      <td>Болгария</td>
      <td>321847.78</td>
    </tr>
  </tbody>
</table>