<style>
body {
    color: #fff;
    background-color: #1e1e1e;
}

table {
    border-collapse: collapse;
    width: 15%;
}

th, td {
    border: 1px solid #555;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #555;
    color: #fff;
}
</style>
<table border="1">
  <thead>
    <tr style="text-align: right;">
      <th>Город</th>
      <th>Средняя зарплата</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Баку</td>
      <td>375000.00</td>
    </tr>
    <tr>
      <td>Сербия</td>
      <td>281890.05</td>
    </tr>
    <tr>
      <td>Курган</td>
      <td>235000.00</td>
    </tr>
    <tr>
      <td>Тбилиси</td>
      <td>205996.30</td>
    </tr>
    <tr>
      <td>Турция</td>
      <td>205956.30</td>
    </tr>
    <tr>
      <td>Москва</td>
      <td>198738.93</td>
    </tr>
    <tr>
      <td>Батуми</td>
      <td>193847.16</td>
    </tr>
    <tr>
      <td>Хабаровск</td>
      <td>182236.95</td>
    </tr>
    <tr>
      <td>Новосибирск</td>
      <td>175501.27</td>
    </tr>
    <tr>
      <td>Астана</td>
      <td>172183.15</td>
    </tr>
  </tbody>
</table>