<style>
body {
    color: #fff;
    background-color: #1e1e1e;
}

table {
    border-collapse: collapse;
    width: 15%;
}

th, td {
    border: 1px solid #555;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #555;
    color: #fff;
}
</style>
<table border="1">
  <thead>
    <tr style="text-align: right;">
      <th>Год</th>
      <th>SQL</th>
      <th>Работа в команде</th>
      <th>Git</th>
      <th>Английский язык</th>
      <th>JavaScript</th>
      <th>Linux</th>
      <th>Грамотная речь</th>
      <th>Пользователь ПК</th>
      <th>Управление проектами</th>
      <th>Python</th>
      <th>HTML</th>
      <th>Java</th>
      <th>CSS</th>
      <th>PHP</th>
      <th>PostgreSQL</th>
      <th>MySQL</th>
      <th>Ведение переговоров</th>
      <th>Adobe Photoshop</th>
      <th>ООП</th>
      <th>MS SQL</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2015</td>
      <td>9261</td>
      <td>1563</td>
      <td>2553</td>
      <td>1742</td>
      <td>6898</td>
      <td>2359</td>
      <td>1318</td>
      <td>1497</td>
      <td>1978</td>
      <td>899</td>
      <td>9176</td>
      <td>9932</td>
      <td>5059</td>
      <td>4158</td>
      <td>660</td>
      <td>2488</td>
      <td>2435</td>
      <td>1294</td>
      <td>5176</td>
      <td>1979</td>
    </tr>
    <tr>
      <td>2016</td>
      <td>25399</td>
      <td>7110</td>
      <td>8580</td>
      <td>4983</td>
      <td>13698</td>
      <td>6441</td>
      <td>5509</td>
      <td>6728</td>
      <td>6369</td>
      <td>3341</td>
      <td>16992</td>
      <td>22903</td>
      <td>13927</td>
      <td>12753</td>
      <td>2998</td>
      <td>7773</td>
      <td>8408</td>
      <td>4140</td>
      <td>6066</td>
      <td>5021</td>
    </tr>
    <tr>
      <td>2017</td>
      <td>37105</td>
      <td>8178</td>
      <td>12879</td>
      <td>6911</td>
      <td>20340</td>
      <td>10067</td>
      <td>6292</td>
      <td>7215</td>
      <td>8734</td>
      <td>4843</td>
      <td>23796</td>
      <td>31318</td>
      <td>19678</td>
      <td>17359</td>
      <td>4767</td>
      <td>11367</td>
      <td>10201</td>
      <td>5178</td>
      <td>7953</td>
      <td>7082</td>
    </tr>
    <tr>
      <td>2018</td>
      <td>56568</td>
      <td>13225</td>
      <td>19891</td>
      <td>11319</td>
      <td>28318</td>
      <td>15947</td>
      <td>9890</td>
      <td>11599</td>
      <td>13639</td>
      <td>9421</td>
      <td>32016</td>
      <td>44568</td>
      <td>26333</td>
      <td>22834</td>
      <td>7551</td>
      <td>15890</td>
      <td>15272</td>
      <td>7159</td>
      <td>9861</td>
      <td>10634</td>
    </tr>
    <tr>
      <td>2019</td>
      <td>76880</td>
      <td>20014</td>
      <td>25946</td>
      <td>20439</td>
      <td>31961</td>
      <td>22796</td>
      <td>15931</td>
      <td>18716</td>
      <td>17977</td>
      <td>14996</td>
      <td>33542</td>
      <td>53887</td>
      <td>28265</td>
      <td>22671</td>
      <td>10777</td>
      <td>16453</td>
      <td>18121</td>
      <td>8829</td>
      <td>11654</td>
      <td>15617</td>
    </tr>
    <tr>
      <td>2020</td>
      <td>145899</td>
      <td>39121</td>
      <td>46696</td>
      <td>43524</td>
      <td>41558</td>
      <td>42850</td>
      <td>33895</td>
      <td>37630</td>
      <td>27768</td>
      <td>28330</td>
      <td>41473</td>
      <td>80324</td>
      <td>36126</td>
      <td>27693</td>
      <td>22053</td>
      <td>22711</td>
      <td>21128</td>
      <td>15523</td>
      <td>17864</td>
      <td>31760</td>
    </tr>
    <tr>
      <td>2021</td>
      <td>223658</td>
      <td>96455</td>
      <td>78138</td>
      <td>87550</td>
      <td>58900</td>
      <td>65811</td>
      <td>77498</td>
      <td>62101</td>
      <td>51222</td>
      <td>50361</td>
      <td>57576</td>
      <td>111769</td>
      <td>48636</td>
      <td>36125</td>
      <td>36354</td>
      <td>30668</td>
      <td>35508</td>
      <td>33691</td>
      <td>27732</td>
      <td>41842</td>
    </tr>
    <tr>
      <td>2022</td>
      <td>197086</td>
      <td>92425</td>
      <td>73807</td>
      <td>72261</td>
      <td>45915</td>
      <td>65000</td>
      <td>48453</td>
      <td>53056</td>
      <td>45103</td>
      <td>48153</td>
      <td>42008</td>
      <td>86824</td>
      <td>35009</td>
      <td>29454</td>
      <td>37497</td>
      <td>25172</td>
      <td>16812</td>
      <td>35206</td>
      <td>25304</td>
      <td>28512</td>
    </tr>
    <tr>
      <td>2023</td>
      <td>134615</td>
      <td>44275</td>
      <td>42721</td>
      <td>27278</td>
      <td>24843</td>
      <td>46685</td>
      <td>31972</td>
      <td>27488</td>
      <td>25917</td>
      <td>34837</td>
      <td>24148</td>
      <td>49727</td>
      <td>20591</td>
      <td>20088</td>
      <td>29543</td>
      <td>15635</td>
      <td>10603</td>
      <td>23770</td>
      <td>12483</td>
      <td>18224</td>
    </tr>
  </tbody>
</table>